* {
	text-align: center;
}
h1 {
    color:#f4a142;
}
body {
	background-image: url(https://www.desktopbackground.org/p/2015/04/13/932351_winter-snow-desktop-wallpapers-hd-49827-dongxue-series_1440x900_h.jpg)
}